/* body { */
/* 	background:gray; */
/* } */

.container {
	display:block;
	max-width:1080px;
	margin:0 auto;
}

div.nav {
	background-color:gray;
}

.fl {
	float:left;
}

.fr {
	float:right;
}
/* 利用伪元素清浮动 */
.clear-float:after,
.clear-float:before{
	content:" ";
	display: block;
	clear:both;
}
.gray{
	background:gray;
}
.blue{
	background:blue;
}

.col-1 {
	float:letf;
	display:block;
	position:relative;
	min-height:1px;
	width:10%;
}

.col-2 {
	float:letf;
	display:block;
	position:relative;
	min-height:1px;
	width:20%;
}

.col-3 {
	float:letf;
	display:block;
	position:relative;
	min-height:1px;
	width:30%;
}

.col-4 {
	float:letf;
	display:block;
	position:relative;
	min-height:1px;
	width:40%;
}

.col-5 {
	float:letf;
	display:block;
	position:relative;
	min-height:1px;
	width:50%;
}

.col-6 {
	float:letf;
	display:block;
	position:relative;
	min-height:1px;
	width:60%;
}

.col-7 {
	float:letf;
	display:block;
	position:relative;
	min-height:1px;
	width:70%;
}

.col-8 {
	float:letf;
	display:block;
	position:relative;
	min-height:1px;
	width:80%;
}

.col-9 {
	float:letf;
	display:block;
	position:relative;
	min-height:1px;
	width:90%;
}
#info {
	display:inline-block;
	float:left;
	margin-left:5%;
	width:20%;
	padding:1em;
}
#about {
	display:inline-block;
	float:right;
	margin-top:0;
	margin-right:5%;
	width:20%;
	padding:1em;
}
#main {
	display:inline-block;
	width:50%;
	padding:1em;
}
* {
	box-sizing:border-box;
}
