 body { 
 	background:white; 
 	box-shadow: inset rgba(0,0,0,0.2) 0 0 4px;
 } 
p div {
	display:inline-block;
}
.container {
	display:block;
	/*max-width:px;*/
	margin:0 auto;
}

div.nav {
	background-color:#2f3e45;
	color: #dddddd;
}
 * {
	    transition:width 1s, height 3s, background-color 1s, transform 1s;
} 
.fl {
	float:left;
}

.fr {
	float:right;
}
.clear-float:after,
.clear-float:before{
	content:" ";
	display: block;
	clear:both;
}
.gray{
	background:gray;
}
.blue{
	background:rgba(0,0,255,0.5);
}



#info {
/* 	display:inline-block; */
	float:left;
	margin-left:5%;
	/*margin-left:50px;*/
	width:20%;
	/*width:200px;*/
	padding: 1%;
	/*padding: 10px;*/
/* 	padding:1em; */
}
#about {
/* 	display:inline-block; */
	float:left;
	/*clear:left;*/
/* 	margin-top:0; */
	margin-right:5%;
	/*margin-right:50px;*/
	width:20%;
	/*width:200px;*/
	padding:1%;
	/*padding:10px;*/
/* 	padding:1em; */
}
#main {
/* 	display:inline-block; */
	float:left;
	width:44%;
	/*width:440px;*/
	padding:1%;
	/*overflow:hidden;*/
	/*padding:10px;*/
/* 	padding:1em; */
}
/* div#main::after{
	clear:both
}
 */
#main h1 {
	color:red;
}
#main h3 {
	color: gold;
}

*{
 	margin:0;
	padding:0;
	/*box-sizing:border-box*/
}

.border {
	border:1px solid red
}
.dpc{
	position:relative;
	border-radius: 5%;
	/*overflow:hidden;*/
	/*display: inline;*/
	cursor:pointer;
	/*margin:0 .2em;*/
}
.dpc:hover{
	/*overflow:visible;*/
	/*display: block;*/
	background:white;
	color:#333333;
}
.dpc:hover .drop-down{
	display: block;
	opacity: 1;
	/*overflow:visible;*/
	height:initial;
	width:100%;
}
.drop-down {
	
	/*
	use this because when drop down container was a inline element,
	we can't set its width&height,thus the overflow properity didn't work,
	it confuses me a lot when I set the drop-down'opacity to 0,
	it almost make me crazy until I set it back to 1......
	but some transition missed now..
	

	/*
	ok,I finally have to let the drop-down always display in block,
	thus the opacity transition can work,
	and set the drop-down's height default to 0,
	so it  can't be touched when the mouse not hover
	*/
	/*..
		here comes another problem :
		why there can be a transition from
		height 0 to 100px,
		while 0 to 100% can't?
		sorry from 0 to initial ....
		was it because the value of  initial was unkonwn 
		when the browser was to count for the transition?
		just like when I only change the overflow properity
		the opacity won't transition...
		emmm, the overflow properity of inline element maybe?
	*/
	position:absolute;
	top:100%;
	left:0;
	/*width:100%;*/
	height:0;
	width:0;
	background:#ffffff;
	box-shadow:rgba(0, 0, 0, 0.15) 0px 4px 4px;
	/*border-bottom-left-radius: 5%;*/
	/*border-bottom-right-radius: 5%;*/
	border-radius:5%;
/*	opacity: 0;
	transition-property:opacity;
	transition-duration:2s;
*/	display:block;

	overflow:hidden;
}
.drop-down li{
	display:block;
	list-style: none;
}
.drop-down li:hover{
	background-color:rgba(0,0,0,0.5);
	/*width:initial;*/
}
/*.test {
	position:relative;
}*/
* {
	/*border:1px solid green ;*/
}

/*
	inline :don't support overflow;
	inline-block block:support overflow;
	ehhh,seems that I was a fool....
	that's all....
	made
*/
*{
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	transition-property: all;
	transition-duration: 0.5s;
	/*transform-style: auto;*/
	/*animation: all 3s;*/
}

/*up there was css for drop-dwon list*/
/* down here was sth for box-shadow*/
.shadow {
		box-shadow:rgba(0, 0, 0, 0.15) 0px 4px 3px;
}
#main {
	background: white;
}
#main div {
	color:gray;
	max-height: 3em;
	overflow: hidden;
	margin-top: 0.8em;
	margin-bottom: 1.2em;
}
#main div:hover{
	margin:1px;
	box-shadow:rgba(0, 0, 0, 0.15) 0 2px 2px ,rgba(0, 0, 0, 0.15) 0 -2px 2px;
	max-height:8em;
	/*overflow: visible;*/
}
#main a {
	text-decoration: none;
	color:rgb(255, 68, 0);
	
}
a:hover{

}
a:visited {
	color: initial;
}
/*.nav {
	position:fixed;
	top:0;
	width:100%;
}*/
/*.nav ~ div{
	position:fixed;
	top: 1em;
}
*/

.nav .dpc {
	border: 1px solid gray;
	border-radius:10%;
	background:rgba(100,100,100,0.5);
}
/*a:hover {
	background: #2f3e45;
	position:relative;
	left:3px;
}*/
a {
	text-decoration: none;
	color: inherit;
}

.dpc:hover .duilian.drop-down {
	width:30%;
	height:200px;
}
.dpc:hover .duilian.drop-down li{
	height:50px;
	font-size: 40px;
}
#about .duilian{
	left:initial;
	right:30%;
}
#info .duilian {
	left:30%;
}
