#nav {
	/*font-size: 1em*/
}
#nav::after{
	content:"";
	display:block;
	clear:both;
}
#nav span{
	border: 1px solid gray;
	border-radius:10%;
	background:rgba(100,100,100,0.5);
}
.fl {
	float:left;
}
.fr {
	float:right;
}

* {
	margin:auto;
	text-decoration: none;
/*	box-sizing: border-box;*/
	padding:0;
	/*border: 1px solid red;*/
}
.red {
	color:red
}
.italic {
font-style:italic
}
.bold {
font-weight:bold
}
.blue {
color : blue
}
.green {
color:green
}
table {
	width:80%;
}
#foot {
	display:block;
	position: fixed;
	right: 1px;
	bottom: 1px;
	font-size: 0.2em;
	color: green;
}
td:before{
	display:inline-block;
	content: "";
	width:2em;
	height:1em;
}
table img{
	float: right;
	max-height: 100px;
}

/*body {
	background: #333333;
}*/
a {
	color:inherit;
}
th {
	color:blue;
	border:1px solid gray;
	border-radius: 5%;
	/*background: */
	font-size: 1.2em
}
th a {
	color:red;
}
caption {
	font-size:1.6em;
}
body {
/*	background:url("img/bgimg.jpg");*/
}
